<!-- log out button will be in the footer -->
<footer>
    <form action="/sessions?_method=DELETE" method="POST">
        <input class="btn btn-default" type="submit" value="Log Out" />
    </form>
</footer>