<header>
    <h1>Wellness App</h1>
    <ul>
        <li> <a href="/" class="btn">Go Home</a></li>
        <li> <a href="/entries" class="btn">Journal</a></li>
        <li> <a href="/activities" class="btn"> Activity Log</a></li>
    </ul>
</header>