
<nav>
	<% if(currentUser) { %>
		<form action="/sessions?_method=DELETE" method="POST">
			<input class="btn btn-default"type="submit" value="Log Out" />
		</form>
	<% } else { %>
		<a href="/" class="btn">Home</a>
		<a href="/users/new" class="btn">Register</a>
		<a href="/sessions/new" class="btn">Login</a>
	<% } %>
</nav>