<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Log an activity here</title>
</head>
<body>
    <header>
        <button>add new entries</button>
    <h1>Past journal entries here</h1>
    </header>
    <ul>
        <%  for(let i=0; i < entries.length; i++) {  %>
        <li>
            <a href="/entries/<%=entries[i]._id%>"><%=entries[i].title%></a>
        </li>
        <% } %> 
    </ul>
</body>
</html>