<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Log an activity here</title>
</head>
<body>
    <header>
        <button>add new entries</button>
    <h1>Past journal entries here</h1>
    </header>
    <ul>
        <li>
            
        </li>
    </ul>
</body>
</html>