<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Add a journal entry here</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <h1>Journal</h1>
    <form class = "form-group" action="/entries" method="POST">
    Date: <input class="form-control" type="date" name="date">    
    Title: <input class ="form-control" type="text" name="title"> <br>
    <textarea class ="form-control" name="entry" cols="80" rows="15"></textarea> <br>
    <input class ="form-control" type="submit" value="Add Entry">
    </form>
</body>
<%- include('../partials/footer.ejs')%>
</html>