<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Past Activities</title>
</head>
<body>
    <header>
        <a href="/">Go Home</a> <br>
        <a href = "/activities/new">Log new entry</a> <br>
        <h1>Past Activities</h1>
    </header>
    <main>
        <ul>
            <% for(let i = 0; i < activities.length; i++) { %>
                <li>
                    <a href="/activities/<%=activities[i]._id%>"><%=activities[i].Title %> </a>
                </li> 
                <% } %> 
        </ul>
    </main>
</body>
</html>