<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Past Activities</title>
</head>
<body>
    <header>
        <button>Log new entry</button> <br>
        <h1>See past activities here!</h1>
    </header>
</body>
</html>