<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>log new activity here</title>
</head>
<body>
    <main>
        <form action="/activities" method="POST">
            Activity (dropdown eventually): <input type="text" name="Title"> <br>
            Duration (minutes): <input type="number" name="Duration"> <br>
            Notes: <textarea name="Notes" id="" cols="30" rows="10"></textarea> <br>
            <input type="submit" name="" value="Add Activity">
        </form>
    </main>
</body>
</html>