<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>log new activity here</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <div class="container">
        <form class = "form-group new-form" action="/activities" method="POST">
            Date: <input class = "form-control" type="date" name="Date"><br>
            Activity: <select class="form-control btn btn-sm btn-info dropdown-toggle" name="Title">
                <option value="Misc Cardio">Misc Cardio</option>
                <option value="Weightlifting">Weightlifting</option>
                <option value="Run">Run</option>
                <option value="Bike Ride">Bike Ride</option>
                <option value="Swim">Swim</option>
                <option value="Walk">Walk</option>
                <option value="Yoga">Yoga</option>
                <option value="Meditation">Meditation</option>
            </select>   <br>  
            Duration (minutes): <input class = "form-control" type="number" name="Duration"> <br>
            Photo Link: <input class = "form-control" type="text" name="Photo" value="https://www.mensjournal.com/wp-content/uploads/mf/runner-1280.jpg?w=1200&h=960&crop=1&quality=82&strip=all">
            Notes: <textarea class = "form-control" name="Notes" id="" cols="25" rows="4"></textarea> <br>
            <input class = "form-control" type="submit" name="" value="Add Activity">
        </form>
        <div class="sidebar"></div>
    </div>
    </main>
</body>
<%- include('../partials/footer.ejs')%>
</html>