<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>View Activity</title>
</head>
<body>
    <nav>
        <a href="/activities">Activities Index</a>
    </nav>
    <main>
        <h1><%=activities.Title%></h1>
    </main>
</body>
</html>