<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Dashboard</title>
</head>

<body class="main-pages">
    <%- include('./partials/nav.ejs')  %>
    <%- include('./partials/header.ejs')%>

    
    </html> 
</body>
<%- include('./partials/footer.ejs')%>
</html>