<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Dashboard</title>
</head>

<body class="main-pages">
    <%- include('./partials/nav.ejs')  %>
    <%- include('./partials/header.ejs')%>

    <div class = counter>

        <h3>In the past month you have logged x activities and submitted z journal submissions</h3>

    </div>
    
    </html> 
</body>
<%- include('./partials/footer.ejs')%>
</html>