<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Wellness App</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
    <h1>Welcome! Log In or register to get started</h1>
</body>
</html>