<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Wellness App</title>
</head>
<body class="homepage">
    <!-- <%- include('./partials/header.ejs')%> -->
    <div>
    <%- include('./partials/nav.ejs')  %>
    <h1 class = welcome>Welcome!</h1>
    </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>