<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Wellness App</title>
</head>
<body>
    <h1>Welcome! Would you like to <a href="/journal">journal</a> or log an  <a href="activities">activity</a>?</h1>
</body>
</html>